@model eBM_System.Models.ViewModels.RegisterUserVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var returnStat = ViewBag.ResultStatus;
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Customer</h4>
                        <form class="forms-sample" enctype="multipart/form-data" asp-action="EditCustomer" asp-controller="Account" method="post">
                            <div asp-validation-summary="All" class="text-danger">
                                <div class="form-group col-md-6">
                                    <label asp-for="FirstName">FirstName</label>
                                    <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="LastName">Last Name</label>
                                    <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Email">Email</label>
                                    <input type="email" class="form-control" asp-for="Email" placeholder="Email" hidden>
                                    <input type="email" class="form-control" value="@Model.Email" placeholder="Email" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Password">Password</label>
                                    <input type="text" class="form-control" asp-for="Password" placeholder="Password">
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="ConfirmPassword">Password</label>
                                    <input type="text" class="form-control" asp-for="ConfirmPassword" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Update</button>
                                <button type="button" class="btn btn-light" onclick="window.location.href='../Account/AllUsers'">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="text" id="pageStatus" value="@returnStat" style="display:none" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(window).on('load', function () {
        var stat = $("#pageStatus").val();
        if (stat == "success") {
            alert("User updated Successfully.");
            window.location.href = '../Home/Index';
        }
        else if (stat == "failed") {
            alert("Failed to update User.");
        }
        else if (stat == "error") {
            alert("Error while updating user.");
        }
    });
</script>